rules_version = '2';
service cloud.firestore {
  match /databases/puzzle-sense/documents {
    match /messages/{message} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}